<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Project API</title>
</head>
<body>
    <a href="/"><h1>Steam Project</h1></a>

    

    <form action="/search" method="get">
        <input type="text" name="game_name" placeholder="Search game">
        <button type="submit">Search</button>
    </form>

    {% if games_images %}

    <ul>
        {% for id, image in games_images.items() %}
        <li><a href="/show_game/{{id}}"><img src="{{ image }}" alt="Game Image"></a></li>
        {% endfor %}
    </ul>

    {% endif %}

    {% if game_data %}

    <p>Game Data:</p>
    <ul>
        <li><img src="{{ game_data.header_image }}" alt="Game Image"></li>
        <li>Name: {{ game_data.name }}</li>
        <li>Description: {{ game_data.description }}</li>
        <li>Price: {% if game_data.is_free %} {{game_data.is_free}} {% elif game_data.not_launched %} ??? {% else %} {{ game_data.price }} {% endif %}</li>
        <li>Release Date: {{ game_data.release_date }}</li>
        <li>Positive Reviews: {{ game_data.positive_reviews }}</li>
        <li>Negative Reviews: {{ game_data.negative_reviews }}</li>
        <li>Total Reviews: {{ game_data.total_reviews }}</li>
    </ul>

    {% endif %}

</body>
</html>