{% extends 'base.html' %}
{% block content %}

<section class="game_details">

    <img
        src="{{ game_data.header_image }}"
        alt="Game Image"
    >

    <div class="details_text">

        <h1>{{ game_data.name }}</h1>

        <p class="description">
            {{ game_data.description }}
        </p>

        <div class="info">

            {% if game_data.is_free %}

                <strong>{{ translation['game_final_price'] }}</strong>:
                {{ translation['free_game'] }}

            {% elif game_data.not_launched %}

                <strong>{{ translation['release_date'] }}</strong>:
                {{ game_data.release_date }}

            {% else %}

                <p>
                    <strong>{{ translation['game_price'] }}</strong>:
                    {% if game_data.discount_percent != '0%' %}

                        <s>{{ game_data.initial_price }}</s> -
                        
                        {{ game_data.final_price }} - 

                        {{ translation['game_discount' ]}} {{ game_data.discount_percent }} 

                    {% else %}

                        {{ game_data.final_price }}

                    {% endif %}
                </p>

            {% endif %}

            <p>

                <strong>
                    {{ translation['game_release_date'] }}
                </strong>:

                {{ game_data.release_date }}

            </p>

            <p>

                <strong>
                    {{ translation['game_positive_reviews'] }}
                </strong>:

                {% if language == 'english' %} {{ "{:,}".format(game_data.positive_reviews) }}

                {% else %} {{ "{:,}".format(game_data.positive_reviews).replace(",", ".") }}

                {% endif %}

            </p>

            <p>

                <strong>
                    {{ translation['game_negative_reviews'] }}
                </strong>:

                {% if language == 'english' %} {{ "{:,}".format(game_data.negative_reviews) }}

                {% else %} {{ "{:,}".format(game_data.negative_reviews).replace(",", ".") }}

                {% endif %}

            </p>

            <p>

                <strong>
                    {{ translation['game_total_reviews'] }}
                </strong>:

                {% if language == 'english' %} {{ "{:,}".format(game_data.total_reviews) }}

                {% else %} {{ "{:,}".format(game_data.total_reviews).replace(",", ".") }}

                {% endif %}

            </p>

        </div>

        <div class="tags_section">

            <h3>
                {{ translation['game_tags'] }}
            </h3>

            <div class="tags_container">

                {% for tag in game_data.tags_with_id %}

                    <span
                    class="tag {% if tag.id in selected_tags %}active{% endif %}"
                    data-id="{{ tag.id }}">

                        {{ tag.name }}

                    </span>

                {% endfor %}

            </div>

        </div>

    </div>

</section>

{% endblock %}

{% block scripts %}

<script>

setupTags()

</script>

{% endblock %}