{% extends 'base.html' %}
{% block content %}

<section class="game_details">

    <img
        src="{{ game_data.header_image }}"
        alt="Game Image"
    >

    <div class="details_text">

        <h1>{{ game_data.name }}</h1>

        <p class="description">
            {{ game_data.description }}
        </p>

        <div class="info">

            <p>

                <strong>
                    {{ translation['game_price'] }}
                </strong>:

                {% if game_data.is_free %}

                    {{translation['free_game']}}

                {% elif game_data.not_launched %}

                    ???

                {% else %}

                    {{ game_data.price }}

                {% endif %}

            </p>

            <p>

                <strong>
                    {{ translation['game_release_date'] }}
                </strong>:

                {{ game_data.release_date }}

            </p>

            <p>

                <strong>
                    {{ translation['game_positive_reviews'] }}
                </strong>:

                {{ game_data.positive_reviews }}

            </p>

            <p>

                <strong>
                    {{ translation['game_negative_reviews'] }}
                </strong>:

                {{ game_data.negative_reviews }}

            </p>

            <p>

                <strong>
                    {{ translation['game_total_reviews'] }}
                </strong>:

                {{ game_data.total_reviews }}

            </p>

        </div>

        <div class="selected_tags_section">

            <h3>
                Selected Tags
                (<span id="selected_count">
                    {{ selected_tags_count }}
                </span>/5)
            </h3>

            <div id="selected_tags_container"></div>

        </div>

        <div class="tags_section">

            <h3>
                {{ translation['game_tags'] }}
            </h3>

            <div class="tags_container">

                {% for tag in game_data.tags_with_id %}

                    <span
                    class="tag {% if tag.id in selected_tags %}active{% endif %}"
                    data-id="{{ tag.id }}">

                        {{ tag.name }}

                    </span>

                {% endfor %}

            </div>

        </div>

    </div>

</section>

{% endblock %}

{% block scripts %}

<script
src="{{ url_for('static', filename='tags.js') }}">
</script>

<script>

const selectedTagsContainer =
    document.getElementById(
        "selected_tags_container"
    )

const selectedCount =
    document.getElementById(
        "selected_count"
    )

function updateSelectedTagsUI() {

    selectedTagsContainer.innerHTML = ""

    const activeTags =
        document.querySelectorAll(
            ".tag.active"
        )

    activeTags.forEach(tag => {

        const selectedTag =
            document.createElement("div")

        selectedTag.classList.add(
            "selected_tag"
        )

        selectedTag.textContent =
            tag.textContent.trim()

        selectedTagsContainer.appendChild(
            selectedTag
        )

    })

}

updateSelectedTagsUI()

setupTags()

</script>

{% endblock %}