{% extends 'base.html' %}
{% block content %}

    {% if error %}

        <p class="error">
            {{ translation['steam_api_error'] }}
        </p>

    {% endif %}

    {% if recommended_games %}

        <h3 class="recommended_title">
            {{ translation['recommended_games'] }}
        </h3>

        <div class="recommended_games">

        {% for game_id, game_data in recommended_games.items() %}

            <a
                href="/show_game/{{ game_id }}"
                class="recommended_game_card"
            >

                <img
                    src="{{ game_data.image }}"
                    alt="{{ game_data.name }}"
                >

                <span>
                    {{ game_data.name }}
                </span>

            </a>

        {% endfor %}

        </div>

    {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}