{% extends 'base.html' %}
{% block content %}

    <main>

        {% if error %}

            <p class="error">
                {{ translation['steam_api_error'] }}
            </p>

        {% endif %}

        <div>

            <h3 class="show_tags">
                {{ translation['game_tags'] }}
            </h3>

            <input type="text" id="tag_search" placeholder="{{ translation['search_tag'] }}" class="tag_search_input">

            <button id="show_all_tags_button" class="show_all_tags_button" data-show="{{ translation['show_all_tags'] }}" data-hide="{{ translation['hide_all_tags'] }}">
                {{ translation['show_all_tags'] }}
            </button>

        </div>

        <div class="tags_container"> 

        {% for tag_id, tag_name in steam_tags.items() %}

            <div
            class="tag {% if tag_id in selected_tags %}active{% endif %}" data-id="{{ tag_id }}">

                {{ tag_name }}

            </div>

        {% endfor %}

        </div>

    </main>

<script>

const tags = document.querySelectorAll(".tag")
const tagSearch = document.getElementById("tag_search")

tags.forEach(tag => {

    tag.addEventListener("click", async () => {

        tag.classList.toggle("active")

        const tagId = tag.dataset.id

        await fetch(`/toggle_tag/${tagId}`)

    })

})

tagSearch.addEventListener("input", () => {

    const search = tagSearch.value.toLowerCase()

    tags.forEach(tag => {

        const tagName = tag.textContent.toLowerCase()

        if (tagName.includes(search)) {
            tag.style.display = "inline-block"
        }

        else {
            tag.style.display = "none"
        }

    })

})

const showAllTagsButton = document.getElementById("show_all_tags_button")

let showingAllTags = false

tags.forEach(tag => {
    tag.style.display = "none"
})

showAllTagsButton.addEventListener("click", () => {

    const showText = showAllTagsButton.dataset.show
    const hideText = showAllTagsButton.dataset.hide
    
    showingAllTags = !showingAllTags

    if (showingAllTags) {

        tags.forEach(tag => {
            tag.style.display = "inline-block"
        })

        showAllTagsButton.textContent = hideText

    }

    else {

        tags.forEach(tag => {
            tag.style.display = "none"
        })

        showAllTagsButton.textContent = showText

    }

})

tagSearch.addEventListener("input", () => {

    const search = tagSearch.value.toLowerCase()

    if (search === "") {

        if (!showingAllTags) {

            tags.forEach(tag => {
                tag.style.display = "none"
            })

        }

        return
    }

    tags.forEach(tag => {

        const tagName = tag.textContent.toLowerCase()

        if (tagName.includes(search)) {
            tag.style.display = "inline-block"
        }

        else {
            tag.style.display = "none"
        }

    })

})

</script>
{% endblock %}